@using ncrecordshopfrontend.Model



@page "/"
@rendermode InteractiveServer

<PageTitle>Vinyl Vault</PageTitle>

<div class="shop-tagline">
    Your one stop shop for Vinyls.
</div>

<RecordsLoader />



@code {

}