@using ncrecordshopfrontend.Model



@page "/"
@rendermode InteractiveServer

<PageTitle>Vinyl Vault</PageTitle>

<h2>Home Placeholder</h2>


<RecordDetails rec="@Album.GetMockAlbums().First()"/>

@*<RecordsLoader /> *@

<p>placeholder</p>


@code {

}