@using ncrecordshopfrontend.Model

<h3>RecordsSummaryList</h3>

<div class="record-grid">
	@foreach (var rec in RecordList)
	{
		<RecordSummary record="@rec"/>
	}
</div>

@code {
	[Parameter]
	public List<Album> RecordList { get; set; } = new();
}
