@using ncrecordshopfrontend.Model
@inject HttpClient Http



<div>
	@if (albums != null)
	{
		<RecordsSummaryList RecordList="@albums"/>
	}
	else
	{
		<p>Currently Loading</p>
	}
</div>



@code {
	public List<Album>? albums { get; set; }


	public static readonly string BASE_URL = "https://localhost:7161/";

	protected override async Task OnInitializedAsync()
	{

		string url = $"{BASE_URL}api/Album";

		albums = await Http.GetFromJsonAsync<List<Album>>(url);

	}

}
